# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/noarch/appdirs-1.4.3-py_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/asn1crypto-0.23.0-py36h4639342_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/atomicwrites-1.1.5-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-18.2.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/automat-0.7.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backcall-0.1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bcolz-1.2.1-py36hf8a1672_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/blas-1.0-mkl.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/bleach-2.1.4-py_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/bokeh-0.12.13-py36h2f9c1c0_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/bzip2-1.0.6-h6d464ef_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/ca-certificates-2017.08.26-h1d4fec5_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2018.8.24-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cffi-1.11.5-py36h5e8e0c9_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/chardet-3.0.4-py36h0f667ec_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/click-6.7-py36h5253387_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cloudpickle-0.5.2-py36h84cdd9c_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/constantly-15.1.0-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cryptography-2.1.4-py36hd09be54_0.tar.bz2
https://conda.anaconda.org/pytorch/linux-64/cuda90-1.0-h6433d27_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cudatoolkit-9.2-0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cudnn-7.2.1-cuda9.2_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.10.0-py_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cymem-1.31.2-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cytoolz-0.8.2-py36h708bfd4_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/dask-0.16.0-py36h73d177f_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/dask-core-0.16.0-py36ha827fd6_0.tar.bz2
https://conda.anaconda.org/fastai/noarch/dataclasses-0.6-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/dbus-1.13.0-h3a4f0e9_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/decorator-4.3.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/defusedxml-0.5.0-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/dill-0.2.7.1-py36h644ae93_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/distributed-1.20.2-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/entrypoints-0.2.3-py36_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/expat-2.2.5-hfc679d8_2.tar.bz2
https://conda.anaconda.org/fastai/noarch/fastai-1.0.6-py_1.tar.bz2
https://conda.anaconda.org/fastai/noarch/fastprogress-0.1.10-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fontconfig-2.13.0-h65d0f4c_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freetype-2.9.1-h6debe1e_4.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ftfy-4.4.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/glib-2.53.6-h5d9569c_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/gmp-6.1.2-h6c8ec71_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gst-plugins-base-1.12.5-hde13a9d_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/gstreamer-1.12.4-hb53b477_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/hdf5-1.10.1-h9caa474_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/heapdict-1.0.0-py36h79797d7_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/html5lib-1.0.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/hyperlink-17.3.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/icu-58.2-hfc679d8_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/idna-2.6-py36h82fb2a8_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/incremental-17.5.0-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/intel-openmp-2018.0.0-hc7b2577_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipykernel-4.9.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipython-6.5.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython_genutils-0.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipywidgets-7.4.1-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/jbig-2.1-hdba287a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jedi-0.12.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jinja2-2.10-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jpeg-9c-h470a237_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jsonschema-2.6.0-py36_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter-1.0.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-5.2.3-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_console-5.2.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_contrib_core-0.3.3-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_contrib_nbextensions-0.5.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_core-4.4.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_highlight_selected_word-0.2.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_latex_envs-1.4.4-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_nbextensions_configurator-0.4.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/kiwisolver-1.0.1-py36h2d50403_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libedit-3.1.20170329-haf1bffa_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libffi-3.2.1-hd88cf55_4.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libgcc-7.2.0-h69d50b8_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libgcc-ng-7.2.0-h7cc24e2_2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-3.0.0-1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libgfortran-ng-7.2.0-h9f7466a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.15-h470a237_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libpng-1.6.35-ha92aebf_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libsodium-1.0.16-h470a237_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libstdcxx-ng-7.2.0-h7a57d05_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libtiff-4.0.9-he6b73bb_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libuuid-2.32.1-h470a237_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libxcb-1.12-hcd93eb1_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.8-h422b904_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxslt-1.1.32-h88dbc4e_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/locket-0.2.0-py36h787c0ad_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lxml-4.2.4-py36hc9114bc_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/lzo-2.10-h49e0be7_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/markupsafe-1.0-py36h470a237_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/matplotlib-2.2.3-py36h8e2386c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mistune-0.8.3-py36h470a237_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl-2018.0.3-1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl_fft-1.0.4-py36h4414c95_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl_random-1.0.1-py36h4414c95_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/more-itertools-4.3.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/msgpack-numpy-0.4.3.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/msgpack-python-0.5.6-py36h2d50403_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/murmurhash-0.28.0-py36hfc679d8_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbconvert-5.4.0-0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbformat-4.4.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-6.1-hfc679d8_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/ninja-1.8.2-py36h6bb024c_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/notebook-5.6.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numexpr-2.6.6-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/numpy-1.15.0-py36h1b885b7_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/numpy-base-1.15.0-py36h3dfced4_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/olefile-0.45.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openblas-0.2.20-8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.0.2p-h470a237_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pandas-0.23.4-py36hf8a1672_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pandoc-1.19.2.1-hea2e7c5_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pandocfilters-1.4.2-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parso-0.3.1-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/partd-0.3.8-py36h36fd896_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/path.py-11.0.1-py_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pathlib-1.0.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/patsy-0.5.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pcre-8.41-hfc679d8_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pexpect-4.6.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pickleshare-0.7.4-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pillow-5.2.0-py36hc736899_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pip-18.0-py36_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/plac-0.9.6-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pluggy-0.7.1-py_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/preshed-1.0.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prometheus_client-0.3.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prompt_toolkit-1.0.15-py_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/psutil-5.4.1-py36hecd8e42_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/ptyprocess-0.5.2-py36h69acd42_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/py-1.6.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyasn1-0.4.4-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyasn1-modules-0.2.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.18-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pygments-2.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyhamcrest-1.9.0-py_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pyopenssl-17.5.0-py36h20ba746_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-2.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyqt-5.6.0-py36h8210e8a_7.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pysocks-1.6.7-py36hd97a5b1_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pytables-3.4.2-py36h3b5282a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pytest-3.8.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python-3.6.6-h5001a0f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.7.3-py_0.tar.bz2
https://conda.anaconda.org/pytorch/linux-64/pytorch-0.3.1-py36_cuda9.0.176_cudnn7.0.5_2.tar.bz2
https://conda.anaconda.org/pytorch/linux-64/pytorch-nightly-1.0.0.dev20181018-py3.6_cuda9.0.176_cudnn7.1.2_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytz-2018.5-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pyyaml-3.12-py36hafb9ca4_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyzmq-17.1.2-py36hae99301_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/qt-5.6.2-hf70d934_9.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/qtconsole-4.4.1-py36_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/readline-7.0-ha6073c6_4.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/regex-2017.11.09-py36had819a5_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/requests-2.18.4-py36he2e5f8d_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/scipy-1.1.0-py36hc49cb51_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/seaborn-0.9.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/send2trash-1.5.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/service_identity-17.0.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/setuptools-40.2.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/simplegeneric-0.8.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sip-4.18.1-py36hfc679d8_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/six-1.11.0-py36_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/sortedcontainers-1.5.7-py36hdf89491_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/spacy-2.0.12-py36hf8a1672_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sqlite-3.24.0-h2f33b56_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/statsmodels-0.9.0-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/tblib-1.3.2-py36h34cf8b6_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/termcolor-1.1.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/terminado-0.8.1-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/testfixtures-6.3.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/testpath-0.3.1-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/thinc-6.10.3-py36hf8a1672_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tk-8.6.8-0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/toolz-0.8.2-py36h81f2dff_0.tar.bz2
https://conda.anaconda.org/pytorch/linux-64/torchvision-0.2.0-py36h17b6947_1.tar.bz2
https://conda.anaconda.org/fastai/noarch/torchvision-nightly-0.2.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tornado-4.5.3-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.24.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/traitlets-4.3.2-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/twisted-18.7.0-py36h470a237_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/typing-3.6.4-py36_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ujson-1.35-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/urllib3-1.22-py36hbe7ace6_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.1.7-py_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/webencodings-0.5.1-py36h800622e_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/wheel-0.31.1-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/widgetsnbextension-3.4.1-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/wrapt-1.10.11-py36h28b7045_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.4-h470a237_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/yaml-0.1.7-had09818_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zeromq-4.2.5-hfc679d8_5.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/zict-0.1.3-py36h3a3bf81_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-h470a237_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zope.interface-4.5.0-py36h470a237_1.tar.bz2
